.*
!.gitignore
!.settings
!.classpath
!.project
bin
ant.sh
PhoneBookGWT/war/WEB-INF/classes/fr/polytech/pooihm/phonebookgwt/client/*.class
war/WEB-INF/deploy/phonebookgwt/symbolMaps/*
Toasty/*
Toastyttt
Toastyttt/*
*~
war/WEB-INF/deploy/phonebookgwt/symbolMaps/*
